.group-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.GroupName {
    margin: 10px;
    color: black;
}

.group-card.block.admined:after {
    content: "       👑";

}

.image.is-64x64 {
    margin-left: 0;
}

.admin-mark {
	font-size: 10px;
	width: min-content;
	height: min-content;
	padding: 0.25em 0.7em !important;
	margin-left: 10px;
}

.teams-title {
	display: flex;
	align-items: center;
}

.admin-mark {
	font-size: 10px;
	width: min-content;
	height: min-content;
	padding: 0.25em 0.7em !important;
	margin-left: 10px;
}

.teams-title {
	display: flex;
	align-items: center;
}