.current {
    background-color: #00d1b2;
}

.dates {
    display: flex;
    flex-wrap: wrap;
}

.dates .date-item:hover {
    background-color: #00ebc7;
}

.day-nums {
    border: 1px solid #00d1b2;
}

.date-item {
    width: 14.2857123%;
    text-align: center;
}

.date-wrapper {
    background-color: #d1fff8;
}

.header {
    background-color: #00d1b2;
}

.wrapper {
    width: 100%;
}

.buttons.admin {
    display: flex;
    justify-content: center;
}

.section.content {
    padding-top: 0;
}

#create-every, #create-day-count, #create-day,
#change-every, #change-day-count, #change-day,
#checkboxIsAllLabel, #changeRepeat {
    display: none;
}

#create-day-count, #change-day-count {
	text-align: center;
}

#create-every, #change-every {
	text-align: end;
}

.columns.create-event,
.columns.change-event {
	align-items: center;
}

.column.is-9 {
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
}

/* form detail event*/

.toastui-calendar-popup-container {
    display: none;
    position: fixed !important;
}

.modal-card.delete-event,
.modal-card.leave-team {
	width: 400px;
}